<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Total: $<%= value.total %></h1>
    <h1>Divisor: <%= value.divisor %> (<%= value.divisor_change %>%)</h1>
    <h1>24h Change: <%= value.change %>%</h1>
  </body>
</html>
